.header-bgcolor {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.landing-grid {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    width: 100%;
    height: 100%;
}

.active {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Landingpage */

.avatar-img {
    height: 230px;
    padding-top: 5em;
}

.banner-text {
    background-color: white;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 20px #ddd;
}

.banner-text h1 {
    font-size: 55px;
    font-weight: bold;
    color: #03A9F4;
}

.banner-text hr {
    border-top: 5px dotted #03A9F4;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: #03A9F4;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
  
.social-links i {
    color: #03A9F4;
    font-size: 5em;
    padding: 8px;
}

/* projects */

.projects-grid {
    display: flex;
}


/* contact */

.contact-body {
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 0.5em;
}
  
.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #03A9F4;
    margin-bottom: 20px;
    box-shadow: 3px 5px 20px #200122;
}
  
.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}
  
.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
  
.contact-grid hr {
    border-top: 5px dotted #03A9F4;
    width: 50%;
    margin: auto;
}

  
.contact-list i {
    font-size: 66px;
    padding-right: 5rem;
    color: #03A9F4;
}
  
/* Resume  */

.Resume-grid {
    justify-content: center;
    width: 100%;
}

.resume-right-col {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    padding: 2em;
}

.material-icons {
    color: #03A9F4;
  
}

.title {
    padding-top: 2em;
    color: #03A9F4;
}

.position {
    color: '#200122'
}

.hr {
    border-top: 3px solid #200122;
    width: 50%;
}

.gmail,.address {
    font-size: 22px;
    font-family: 'Anton'; 
    color: #03A9F4;
}

.Discription,.Address,.Phone,.Email,.Web {
    color: #03A9F4;
}

.Addresstitle,.Phonetitle,.Emailtitle,.Webtitle {
    color: #200122;
}

@media (max-width:767px){
    .social-links i {
        font-size: 3em;
    }
    .social-links {
        width: 90%;
    }
    .banner-text h1 {
        font-size: 35px;
    }
    .banner-text p {
        font-size: 18px;
    }
    .title {
        padding-top: 0;
        text-align: center;
        font-size: 35px;
    }
    .position {
        text-align: center
    }
    .hr {
        margin:15px auto;
    }
    .mdl-tabs {
        padding-top: 65px;
    }
    .projects-grid {
        display: inherit;
    }
    .contact-body {
        padding-top: 5.5em;
    }
    .contact-list i {
        font-size: 35px;
        padding-right: 1rem;
    }
    .gmail {
        font-size:10px;
    }
    .address {
        font-size: 17px;
    }
    .landing-grid {
        height: 480px;
    }
    .Discription,.Address,.Phone,.Email,.Web,.Addresstitle,.Phonetitle,.Emailtitle,.Webtitle {
        text-align: center;
    }
}


@media(min-width:768px) and (max-width:991px) {
    .landing-grid {
        height: 480px;
    }
    .social-links {
        width: 60%;
    }
    .mdl-tabs {
        padding-top: 65px;
    }
    .projects-grid {
        display: inherit;
    }
    .contact-body {
        padding-top: 5.5em;
    }
    .contact-list i {
        font-size: 35px;
        padding-right: 1rem;
    }
    .gmail {
        font-size:15px;
    }
    .address {
        font-size: 17px;
    }
    .title {
        padding-top: 0;
        font-size: 35px;
    }
}


@media(min-width:992px) and (max-width:1199px) {
    .contact-body {
        padding-top: 5.5em;
    }
    .contact-list i {
        font-size: 35px;
        padding-right: 1rem;
    }
    .gmail {
        font-size:15px;
    }
    .address {
        font-size: 17px;
    }
    .title {
        padding-top: 0;
        font-size: 40px;
    }
}